.footer {
  text-align: center;
  flex: 0 0 3rem;
}

.layoutContainer {
  display: flex;
  min-height: 100vh;
  overflow: auto;
}

.componentContainer {
  flex: 1;
  display: flex;
  overflow: auto;
}
