.menuLink {
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1%;
}

@media only screen and (max-width: 600px) {
  .customHeader {
    justify-content: space-between;
  }
}

.loginIcon {
  font-size: 30px;
}
