.menuLink {
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginIcon {
  font-size: 30px;
}
