.createNewDeckButton {
  width: 100%;
  font-size: 1.5rem;
  height: 100px;
  text-align: left;
  padding-left: 1rem;
}
.icon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .createNewDeckButton {
    text-align: center;
  }
}
