.breadcrumb {
  padding: 1.25rem 0;
}

.textarea {
  margin: 0;
  line-height: 1.15;
  padding: 1.25rem;
  font-size: 2rem;
  border: 1px solid #eaeaea;
}

.sideButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}

.createNewCardButton {
  color: white;
}

.createNewCardButton:hover {
  color: #e6f7ff;
}

.createNewCardButton:focus {
  color: #e6f7ff;
}

.cardMenu {
  display: flex;
}

.content {
  height: 100vh;
}
/* =========================== */

.createNewClass {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.createClassTitle {
  color: white !important;
  margin-left: 1rem;
}
.classList {
  width: 100%;
}
.classListItem:hover {
  background-color: #eef7ff;
  cursor: pointer;
}

.editDeckContent {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: 600px) {
  .siderContainer {
    display: none;
  }
  .editDeckContent {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
