.breadcrumb {
  padding: 1.25rem 0;
}

.textarea {
  margin: 0;
  line-height: 1.15;
  padding: 1.25rem;
  font-size: 2rem;
  border: 1px solid #eaeaea;
}

.sideButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}

.card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cards {
  display: flex;
  margin: 10px;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.createNewCardButton {
  color: white;
}

.createNewCardButton:hover {
  color: #e6f7ff;
}
.cardMenu {
  display: flex;
}

.content {
  height: 100vh;
}
/* =========================== */

.classContent {
  height: 100vh;
  padding: 25px;
}
.createNewClass {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.createClassTitle {
  color: white !important;
  margin-left: 1rem;
}
.classList {
  width: 100%;
}
.classListItem:hover {
  background-color: #eef7ff;
  cursor: pointer;
}

.saveEditButton {
  background-color: black;
  color: white;
}

.editDeckContent {
  padding-left: 5rem;
  padding-right: 5rem;
}
